# Visual Studio files
.env
.vs/
.vscode/
*.sdf
*.opensdf
*.VC.opendb
*.suo
*.user

# macOS files
.DS_Store

# CMake artifacts
build/
build-*/

# Python
__pycache__
_python_build/
wheelhouse
*.egg-info
*.whl