# These requirements are here for one-stop development
# setup with pinned deps and will fulfill all install
# requirements for the package (which pins to minimum
# versions, not specific).
-f https://openxla.github.io/iree/pip-release-links.html

-r pytorch-cpu-requirements.txt
-r torchvision-requirements.txt
-r iree-requirements.txt

# Can't be bundled as part of torch requirments due to nonexistence in the index-url
mpmath==1.3.0
