# These requirements are here for one-stop development
# setup with pinned deps and will fulfill all install
# requirements for the package (which pins to minimum
# versions, not specific).
-f https://iree.dev/pip-release-links.html

-r pytorch-requirements.txt
-r iree-requirements.txt

# From pyproject.toml.
setuptools
wheel
