protobuf
sentencepiece
shark_turbine @ git+https://github.com/nod-ai/SHARK-Turbine@main
transformers==4.37.1
accelerate
diffusers @ git+https://github.com/nod-ai/diffusers@v0.24.0-release
brevitas @ git+https://github.com/Xilinx/brevitas.git@6695e8df7f6a2c7715b9ed69c4b78157376bb60b
# turbine tank downloading/uploading
azure-storage-blob
# microsoft/phi model
einops
